@use "sass:color";

$screen-md: 600px;
$screen-lg: 900px;
$primary: rgba(252, 70, 107, 1);
$secondary: #109649;

* {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
}

h2 {
  margin-bottom: 1rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: color.adjust($primary, $lightness: -10%);
    text-decoration: underline;
  }
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
}

header .innerWrapper,
main,
footer .innerWrapper {
  margin: 0 auto;
  max-width: 900px;
}

header,
footer {
  color: white;

  a {
    color: white;
    text-decoration: none;
    border: dashed transparent 2px;
    padding: 0.5rem;

    &:hover {
      color: white;
      border: dashed white 2px;
      text-decoration: none;
    }
  }
}

header {
  padding: 1rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;

  h1 {
    margin: 0 0 1rem;
  }

  nav ol {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 0 0.5rem 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }
}

img {
  max-width: 100%;
  width: 100%;
}

main {
  background: white;
  margin-bottom: 2rem;
  padding: 1rem;
}

footer {
  padding: 1rem;
  text-align: center;
}

.rating {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 5px;

  img {
    width: 35px;
  }
}

time {
  display: block;
  font-size: 90%;
}

.homepage {
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0;
  }

  .card {
    margin-bottom: 2rem;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 47%;
    }

    @media (min-width: $screen-lg) {
      width: 31%;
    }
  }

  .card-image,
  time,
  .card-heading {
    margin-bottom: 0.5rem;
  }
}

.list {
  h3 {
    margin-bottom: 0.5rem;
    padding-top: 1.5rem;
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.single {
  min-height: 600px;

  .cover img {
    margin-bottom: 1rem;

    @media (min-width: $screen-lg) {
      float: right;
      max-width: 350px;
      margin: 0 0 1rem 1rem;
    }
  }

  time {
    margin-bottom: 0.5rem;
  }

  .rating {
    margin-bottom: 1rem;
  }
}

.episode-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;

  li {
    margin: 0;
  }
}

.stats {
  background: $secondary;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
  padding: 1rem;

  h3 {
    margin-bottom: 1rem;
  }

  span {
    font-size: 2rem;
    // color: $secondary;
  }
}

.topRatedTVShows {
  list-style-type: auto;
  padding-left: 2rem;

  li {
    margin-bottom: 1rem;
  }
}

.chapter {
  font-size: 90%;
}

.item-title {
  color: $primary;
}
