$screen-md: 600px;
$link: #007acc;
$blue: #0984e3;
$green: #109649;

.full-width {
  background: $link;
  color: white;
  margin-bottom: 1rem;
}

.site-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: sans-serif;

  &-link {
    box-shadow: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header,
.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 1rem;
}

.footer {
  .nav {
    margin-top: 0;
  }
}

.title-wrapper {
  text-shadow: 1px 1px 1px $blue;
}

.header {
  &-logo {
    margin-bottom: 0;
    margin-right: 15px;
    width: 100px;

    @media (min-width: $screen-md) {
      width: 50px;
    }
  }
}

.title-wrapper {
  text-align: center;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 1.5rem;
}

.rating {
  margin-bottom: 15px;

  img {
    width: 25px;
    margin-bottom: 0;
  }
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  &-column {
    margin-bottom: 1rem;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 50%;
    }
  }

  h2 {
    margin-top: 1rem;
  }

  &-number {
    color: $green;
    font-size: 3rem;
  }
}

.bio {
  display: flex;
  font-size: 18px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 1rem;
  list-style: none;
  justify-content: space-between;

  &-link {
    box-shadow: none;
    color: white;
    padding: 10px;
    display: inline-block;
    overflow: hidden;

    &:before, &:after {
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
    }

    &:before {
      bottom: 0;
      transform:  translateX(-100%);
    }

    &:after {
      top: 0;
      transform:  translateX(100%);
    }

    &:hover:before, &:hover:after {
      transform:  translateX(0);
    }

    &--active {
      &:before, &:after {
        transform:  translateX(0);
      }
    }
  }

  a, a > span {
    position: relative;
    text-decoration: none;
    font-size: 20px;

    &:before, &:after {
      content: '';
      position: absolute;
      transition: transform .5s ease;
    }
  }
}

.allShowsTitle {
  .rating {
    margin-bottom: 0;
    padding-left: 2rem;
    width: 100%;
  }
}

.topShows {
  counter-reset: shows;

  h3::before {
    counter-increment: shows;
    content: counter(shows) ". ";
  }

  .rating {
    display: inline-block;
    padding-left: 1.6rem;
    padding-top: 1rem;
    width: 100%;

    @media (min-width: $screen-md) {
      padding-left: 0;
      padding-top: 0;
      width: auto;
    }
  }
}

.item {
  .cover {
    display: block;
    margin: 0 auto;
    max-width: 220px;

    @media (min-width: $screen-md) {
      float: right;
      padding-bottom: 1rem;
      padding-left: 1rem;
    }
  }

  section {
    font-size: 20px;
  }
}

.emoji-reaction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;

  &--disabled {
    pointer-events: none;
  }

  &_emoji {
    border: 1px solid #e0e3e9;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;

    @media screen and (min-width: 540px) {
      flex: 1 0 21%;
    }

    @media screen and (min-width: 720px) {
      flex: 0 0 auto;
    }

    &--voted,
    &:hover {
      background: $blue;
      color: white;
    }
  }

  &_text {
    padding-left: 10px;
  }
}

.builder {
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  textarea,
  select {
    width: 100%;
  }

  .row {
    margin-bottom: 0.5rem;
  }

  .actions {
    margin-top: 2rem;
    text-align: center;

    button {
      display: block;
      margin-bottom: 2rem;
      width: 100%;
    }
  }
}

.list-no-style {
  list-style-type: none;
}